[*.{cs,vb}]

# IDE0040: 添加可访问性修饰符
dotnet_diagnostic.IDE0040.severity = silent

# IDE0044: 添加只读修饰符
dotnet_diagnostic.IDE0044.severity = silent

# SYSLIB1054: 使用 “LibraryImportAttribute” 而不是 “DllImportAttribute” 在编译时生成 P/Invoke 封送代码
dotnet_diagnostic.SYSLIB1054.severity = silent

# CA1401: P/Invokes 应该是不可见的
dotnet_diagnostic.CA1401.severity = silent

# IDE0130: 命名空间与文件夹结构不匹配
dotnet_diagnostic.IDE0130.severity = silent

# CS4014: 由于此调用不会等待，因此在调用完成前将继续执行当前方法
dotnet_diagnostic.CS4014.severity = silent